<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Furniture Online - Buy Custom design furniture online in India - Customfurnish</title>
    <link rel="stylesheet" href="/static/Css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">


    <script src="/static/vendor/foundation.min.js"></script>
    <script src="/static/vendor/jquery.js"></script>
    <link rel="stylesheet" href="/static/Css/style.css"/>
    <link rel="stylesheet" href="/static/foundation.css">
    <link rel="stylesheet" href="/static/foundation.min.css">
    <style>
        a small:hover {
    color: red;
}
    </style>
    <style>
img {
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
</style>


</head>
<body style="background-color:whitesmoke">
<div>
    <div>

    <div style="background-color: gray;alignment:left">

 <a style="margin-left: 80%;color: white" href="#"> <img src="/static/images/phone.png">040660660454</a>
 <a href="#" style="color: white"><i class=""></i>|</a>
 <a href="#" style="color: white"> <img src="/static/images/email1.png"> Wecare@kustommade.com</a>

    </div>
    <div style="background-color: inherit;border-bottom-color: #da3116;">
        <div  style="padding-left: 0px">

            <a href="http://www.customfurnish.com/" style="margin-left: 10px"><img
                    src="/static/images/CustomFurnish-Logo.jpg"></a>
            <a href="#" style="margin-left: 45%;color: black"><small>HOME</small></a>
            <a href="#" style="margin-left:2%;color: black"><small>DESIGN-SERVICE</small></a>
            <a href="#" style="margin-left: 2%;color: black"><small>SAMPLE-PROJECT</small></a>
            <a href="#" style="margin-left: 2%;color: black"><small>TESTRIMONIALS</small></a>
            <a href="#" style="margin-left: 2%;color: black"><small>FAQ</small></a>

        </div>


    </div>





    <div style="border-bottom:solid;color: #ec5840;height: 1px"></div>
    </div>
<!----header finish -->
<div>
    <div class="row">

         <h3 style="margin-left: 21%;margin-top: 20px">DESIGN SERVICE<small > <small>STARTS FROM </small> </small>Rs 20,000 /-*</h3>

    </div>


</div>



</div>
<div class="row">
    <div class="columns large-2">
        <div style="border: solid dodgerblue;margin-top: 20px;padding: 23px" >
                <a href="#" ><img class="hov1" src="/static/images/icon-hand-s(1).png"></a>
        </div>

    </div>
    <div class="columns large-1">
        <div style="margin-top: 60%" >
                <a href="#" ><img class="hov1" src="/static/images/arrow.png"></a>
        </div>

    </div>
    <div class="columns large-2">
        <div style="border: solid limegreen 1px;margin-top: 20px;padding: 10px">
                <a href="#"> <img class="hov1" src="/static/images/images(1).png"></a>
        </div>

    </div>
    <div class="columns large-1" >

        <div style="margin-top: 60%">
                <a href="#"> <img class="hov1" src="/static/images/arrow.png"></a>
        </div>
    </div>
    <div class="columns large-2">
        <div style="border: solid orangered 1px;margin-top: 20px;padding: 20px" >
                <a href="#"> <img class="hov1" src="/static/images/3d(1).png"></a>
        </div>

    </div>
    <div class="columns large-1">

        <div style="margin-top: 60%">
                <a href="#"> <img class="hov1" src="/static/images/arrow.png"></a>
        </div>
    </div>
    <div class="columns large-2">
        <div style="border: solid dodgerblue 1px;margin-top: 20px;padding: 0px">
            <a href=""> <img class="hov1" src = "/static/images/stock-vector-document-icon-document-icon-vector-document-icon-art-document-icon-eps-document-icon-image-383995255(1).jpg"></a>
        </div>

    </div>
    <div class="columns large-1">

    </div>
</div>
<div class="row" style="margin-left: 20%" >
    <h  >&#9650;</h>
</div>
<div class="row" style="background-color: lightgray">
    <div class="columns large-6 " style="margin-top: 3px">

    <a href="#" ><img src="/static/images/abc3.png"></a>
        </div>
    <div class="columns large-6" style="margin-top: 3px">
        <p style="">Our Designer will contact you to understand your requirements and to take required inputs</p>
    </div>
</div>


<!-- form-->

<div style="background-color: black;border: solid 1px black;margin-top: 20px">
            <div class="row">
                <div style=" margin-top: 20px  " class="large-2 columns">
                    <label>
                        <input type="text" placeholder="Name"/>
                    </label>
                </div>

                <div style="margin-top: 20px" class="large-4 columns">
                    <div class="row collapse">
                        <label></label>
                        <div class="small-9 columns">
                            <input type="text" placeholder="Email"/>
                        </div>
                        <div class="small-3 columns">
                            <span class="postfix">.com</span>
                        </div>
                    </div>


                </div>

                <div style="margin-top: 20px" class="large-2 columns">
                    <label>
                        <input type="text" placeholder="Phone"/>
                    </label>
                </div>


                <div style="margin-top: 20px" class="large-2 columns">
                    <label>
                        <input class="red button" type="button" style="background-color: red;color: white"
                               value="Contact Me"/>
                    </label>
                </div>
                <div style="margin-top: 25px" class="large-2 columns">
                    <label>
                        <a href="#" style="color: blue;text-decoration-line: underline"><h6
                                style="text-decoration: underline;color: blue;">VIEW PACKAGES</h6></a>
                    </label>
                </div>


            </div>

        </div>
<!--middle Part-->

<div class="row"><hr></div>

    <div class="row" style="margin-top: 10px">

        <div><h4 align="center" style="color: black">PACKAGES</h4>
            <hr>
        </div>
    </div>


    <div  style="background-color: powderblue ">

        <div class="row">

            <div class="columns large-6" style="border-right:0px black solid ; width:50%;background-color: white ;margin: 7px;margin-top:30px  ">


                    <table  class="table" style="width: 86%;margin-right: 40px;margin-left: 30px;margin-top: 60px ;margin-bottom: 10px ;padding: 1px">

                          <tr style="border: solid black 1px">
                            <th style=" color: red;border: solid black 1px">TYPE OF PACKAGE</th>
                            <th style=" color: red;border: solid black 1px">PRICE</th>

                          </tr>
                          <tr style="border: solid black 1px" >
                            <td style="border: solid black 1px">1-BHK</td>
                            <td style="border: solid black 1px">Rs 20,000/-</td>

                          </tr >
                          <tr style="border: solid black 1px">
                            <td style="border: solid black 1px">2-BHK</td>
                            <td style="border: solid black 1px">Rs 30,000 /-</td>

                          </tr>
                          <tr style="border: solid black 1px">
                            <td style="border: solid black 1px">3-BHK</td>
                            <td style="border: solid black 1px">Rs 45,000/-</td>

                          </tr>
                          <tr style="border: solid black 1px">
                            <td style="border: solid black 1px">4-BHK</td>
                            <td style="border: solid black 1px"> Rs 60,000/-</td>

                          </tr>
                          <tr style="border: solid black 1px">
                            <td style="border: solid black 1px">VILLA</td>
                            <td style="border: solid black 1px">Rs 75,000/-</td>

                          </tr>

                </table>
                <p style="margin-left: 30px">Includes Space layout & Furniture design,3D renders,
                Walkthrough, BOM and Engineering drawings,Estimate<br> <br> <br>


                The design can be revised till you are fully satisfied.<br> <br>


                we will Provide Manufacture & Install<br>
                <br>
                <br>
                <br>
                <br></p>


            </div>

            <div class="columns large-6" style="border: solid white  ;width:46%;background-color: white ;margin: 7px;margin-top: 30px ">
                <form >
                    <p style="margin: 10px">SUBMIT YOUR DEATILS WITH YOUR FLOOR PLAN</p>
                    <div class = "row collapse">
                    <label>
                        <input type="text" placeholder="Name"/>
                    </label>
                </div>
                    <div class = "row collapse">
                    <label>
                        <input type="text" placeholder="Email"/>
                    </label>
                </div>

                    <div class = "row collapse">
                    <label>
                        <input type="text" placeholder="Phone"/>
                    </label>
                </div>

                    <div class = "row collapse">
                        <div class="columns small-6">
                    <label>
                        <input type="text" placeholder="CITY"/>
                    </label>
                            </div>
                        <div class="columns small-6">
                    <label>
                        <input type="text" placeholder="PINCODE"/>
                    </label>
                            </div>

                </div>



                </form>
                <div class="row">
                    <div class="columns large-12">


                 <select >
                    <optgroup  > <option>SELECT PACKAGE &raquo;</option>
                        <option value="option1">1-BHK</option>
                        <option value="option2">2-BHK</option>
                        <option value="option2">3-BHK</option>
                        <option value="option2">VILLA</option>

                    </optgroup>
                </select>
                    </div>

                    </div>
                <div class="row">
                    <div class="columns medium-4">
                    <p style="border: groove 2px lightgray;background-color: lightyellow;padding: 5px;">UPLOAD DOCS</p>
                        </div>
                    <div class="columns medium-1"></div>
                    <div class="columns medium-7">
                     <input class="gray button" type="button" style="background-color: gray;color: white"
                               value="UPLOAD DOCS"/>

                </div>
                    </div>
                <div class="row">
                    <div class="columns large-12">Notes
                        <div > <textarea  name="moreinfo" cols="60" rows="5" style="padding: 5px;border: solid 1px black ;margin: 10px" type="txt"> </textarea></div>



                    </div>
                </div>
                <div class="row">
                    <div class="columns medium-4">
                        <input class=" button" type="button" style="background-color: RED;color: white"
                               value="BOOK NOW"/>
                        </div>

                    <div class="columns medium-1"></div>
                    <div class="columns medium-7">
                        <p style="padding: 5px;text-decoration: underline;COLOR : BLUE">NEED ASSISTANT</p>
                        </div>


                </div>

            </div>

        </div>




    </div>



         <div class="row" style="margin-top: 10px">

        <div><h4 align="center" style="color: black;margin-top: 100px">WHAT WE OFFER</h4>
            <hr>
            <div class="row">
                <div class="columns large-6" style="border: 1px black solid">
                     <a href="#"> <img src="/static/images/plan.png"></a>
                </div>

                <div class="columns large-6" style="border: 1px black solid">
                     <a href="#"> <img src="/static/images/deco.png"></a>

                </div>

            </div>
            <div class="row">

            <div class="columns large 5"  style="background-color:skyblue;margin: 1px;padding: 1px;width: 50%">



                    <h2 style="color: white; padding-left :50px ; ">DESIGN & EXECUTE*</h2>
                    <p style="margin: 1px;padding: 45px"><br><br> Space layout & Furniture design,3Drenders, Walkthrough,BOM<br> and Engineering drawings,Estimate</p>
                    <a herf = "#"><p style="text-decoration: underline;padding-left: 45px "><br><br> Click Here TO Know more</p></a>

                </div>


            <div class="columns large 5"  style="background-color:skyblue;margin: 1px;padding: 1px;width: 49%">

                    <h2 style="color: white; padding-left :50px ; ">DESIGN ONLY</h2>
                    <p style="margin: 1px;padding: 20px"><br><br> Space layout & Furniture design,3Drenders, Walkthrough,BOM<br> and Engineering drawings,Estimate<br>+ <br> Manufacture & Install</p>
                    <a herf = "#"><p style="text-decoration: underline;padding-left: 20px "><br><br> Click Here TO Know more</p></a>

            </div>


        </div>
    </div>
             </div>


    <div class="row" style="margin-top: 10px">

        <div><h4 align="center" style="color: black;margin-top: 100px">WHY US ?</h4>
            <hr>
            <div class="row">
                <div class="columns large-12">
                    <ul class="menu" style="margin-top: 25px">
                <li class="circle1"><a href="#"> <img src="/static/images/circle-1.png"><small style="color: black"><br>100+ HIGHLY QUALIFIED INTERIOR DESIGNERS</small></a>
                 <div class="ctxt1" style=" position: absolute;top: 40%;left: 32%;color: white;"> TEAM</div></li>
                <li><a href="#"><i class=""></i></a></li>
                <li class="circle1"><a href="#"> <img src="/static/images/circle-2.png"><small style="color: black"><br>GET YOUR HOME INTERIRORS DESIGNED ACCORDING TO YOUR PRFERENCES</small></a>
                <div class="ctxt1" style=" position: absolute;top: 40%;left: 10%;color: white;"> CUSTOMIZED DESIGNS</div></li>
                        <li><a href="#"><i class=""></i></a></li>
                <li class="circle1"><a href="#"> <img src="/static/images/circle-3.png"><small style="color: black"><br>VISUALIZE YOUR HOME BEFORE YOU DECIDE TO IMPLEMENT</small></a>
                <div class="ctxt1" style=" position: absolute;top: 40%;left: 10%;color: white;">3D<BR>VISUALIZATION</div></li>
                        <li><a href="#"><i class=""></i></a></li>
                <li class="circle1"><a href="#"> <img src="/static/images/circle-4.png"><small style="color: black"><br>IN -HOUSE CAPABILITIES TO DESIGN,MANUFACTURE&INSTALL THE DESIGNS PROPOSED</small></a>
                <div class="ctxt1" style=" position: absolute;top: 40%;left: 10%;color: white;">INTEGRATED<BR>DELIVERY</div></li>
                    <li><a href="#"><i class=""></i></a> <br></li>
            </ul>


                </div>
            </div>


        </div>
    </div>



    <div class="row" style="margin-top: 10px">

        <div><h4 align="center" style="color: black;margin-top: 100px">SAMPLE PROJECT</h4>
            <hr>
            <div class="row">
                <div class="columns large-12" style="padding: 300px ;background-color: #5f5f5f;margin: 10px">
                    <h4 style="margin-left:150px ">SAMPLE PROJECT</h4>
                    <h4>VIDEO/WALK THROUGH/ INTERACTIVE CONTENT</h4>


                </div>
            </div>
        </div>
    </div>




    <div class="row" style="margin-top: 10px">

        <div><h4 align="center" style="color: black;margin-top: 100px">GALLERY</h4>
            <hr>




        </div>
    </div>



<!--middle Part End here-->


<div class="row">
    <div class="columns small-12">
         <p style="margin-left: 22%;margin-top:15px ">*Get All Production ready Document-Designs, Engineering Drawings, Bill of Material</p>
    </div>
</div>





<!--Footer start -->
<div class="row" style="margin-top: 10px">

        <div><h4 align="center" style="color: black;margin-top: 100px">FAQ</h4>
            <hr>
            <div class="row" style="border: solid 0px black ;background-color: lightgoldenrodyellow">
                <div class="columns large-3" style="margin-top: 20px">
                    <h4>CUSTOMFURNISH</h4>
                    <br> <br>
                    <a style="color: black">About Us<br><br></a>
                    <a style="color: black">Terms & Conditions<br><br></a>
                    <a style="color: black">Privacy Policy<br><br></a>
                    <a style="color: black">Delivery & Return policy<br><br></a>

                </div>
                <div class="columns large-3" style="margin-top: 20px">
                    <h4>COLLECTION</h4>
                    <br> <br>
                    <a style="color: black">Sofas<br><br></a>
                    <a style="color: black">Wardrobes<br><br></a>
                    <a style="color: black">Kitchens<br><br></a>


                </div>


                <div class="columns large-3" style="margin-top: 20px">
                    <h4>FOLLOW US</h4>
                    <br> <br>
                    <a style="color: black">Twitter<br><br></a>
                    <a style="color: black">Facebook<br><br></a>
                    <a style="color: black">Pintrest<br><br></a>
                    <a style="color: black">Google<br><br></a>

                </div>

                <div class="columns large-3" style="margin-top: 20px">
                    <h4>CONTACT US</h4>
                    <br> <br>
                    <a style="color: black"> <img src="/static/images/phone.png"> +91 9014324646<br><br></a>
                    <a style="color: black"><img src="/static/images/email1.png">wecare@customfurnish.com<br><br></a>

                </div>
                <hr>

                <div class="row">
                    <div class="columns large-6">
                <img style="margin:1px;padding: 1px" src="/static/images/cards.jpg">
                        </div>
                    <div class="columns large-6">
                        <img style="margin: 1px;padding: 1px" src="/static/images/Paytm-Logo-300x150.png">
                    </div>
                    </div>
                <hr>
                <h4>Sign up for our newsletter and you could win exciting offers and shopping vouchers!</h4>
                </div>

                <div class="row">
                    <div class="columns large-7">
                        <input type="text" placeholder="your email address">

                    </div>
                    <div class="columns large-5">
                       <a href="#" class="button expand" style="background-color: RED">SUBSCRIBE</a>
                    </div>
                </div>

</div>
    </div>

</body>