<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Furniture Online - Buy Custom design furniture online in India - Customfurnish</title>
    <link rel="stylesheet" href="/static/Css/style.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/css/foundation.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/foundation.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.0.1/js/vendor/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/Css/style.css"/>
    <link rel="stylesheet" href="/static/foundation.css">
    <link rel="stylesheet" href="/static/foundation.min.css">

</head>
<body>
<div>

    <div class="row" style="background-color: inherit;border-bottom-color: #da3116">
        <div class="columns large-4 medium-4  headerSection" style="padding-left: 0px">

            <a href="http://www.customfurnish.com/" style="margin-left: 10px"><img
                    src="/static/images/CustomFurnish-Logo.jpg"></a>

        </div>

        <div class="columns large-8 medium-8"
             style="padding-left: 50px;padding-top:20px;border-bottom-width: 5px ;border-bottom-color: #da3116">
            <ul class="menu" style="margin-top: 25px">
                <li><a href="#"> <img src="/static/images/phone.png">040660660454</a></li>
                <li><a href="#"><i class=""></i>|</a></li>
                <li><a href="#"> <img src="/static/images/email1.png"> Wecare@kustommade.com</a></li>
                <li><a href="#"> <img src="/static/images/sign-in.png"> Sign in</a></li>
                <li><a href="#"> <img src="/static/images/cart.png">Cart</a></li>

            </ul>

        </div>
    </div>

    <div class="large row">
        <ul class="menu">
            <li><a href="#" style="color: #333333">
                <small>LIVING ROOM</small>
            </a></li>
            <li><a href="#" style="color: #333333">
                <small>KITCHEN</small>
            </a></li>
            <li><a href="#" style="color: #333333">
                <small>BED ROOM</small>
            </a></li>
            <li><a href="#" style="color: #333333">
                <small>HOME DECORE</small>
            </a></li>
            <li><a href="# " style="color: #333333">
                <small>OFFICE</small>
            </a></li>
            <li><a href="#" style="color: #333333">
                <small>FULL HOUSE</small>
            </a></li>
            <li><a href="#" style="color: red">
                <small>DESIGN-SERVICE</small>
            </a></li>
            <li><a href="#" style="color: #333333">
                <small>HOW IT WORKS</small>
            </a></li>
            <li><a href="#" style="color: #333333">
                <small>OUR PROJECTS</small>
            </a></li>
            <li><a href="#" style="color: #333333">
                <small>FAQ</small>
            </a></li>

        </ul>
    </div>
    <div style="border: solid;color: #ec5840;height: 1px"></div>

    <div id=imagediv>

        <img src="/static/images/room.jpg">

        <h2 class="txt">YOUR INTERIOR DESIGN PARTNER</h2>

        <p class="txt1">GET YOUR DESIGNED BY OUR EXPERT DESIGNERS</p>

        <h3 class="txt2">DESIGN SERVICE</h3>
        <small class="txt3">STARTS FROM</small>
        <h3 class="txt4">Rs 20,000 /-*</h3>

        <button class="btnn"> KNOW MORE</button>

        <p class="txt5">*Get All Production Documents-Designs , Engineering Drawings , Bill of Material</p>

        <div class="transbox">
            <div class="row">
                <div style="margin-top: 20px" class="large-2 columns">
                    <label>
                        <input type="text" placeholder="Name"/>
                    </label>
                </div>

                <div style="margin-top: 20px" class="large-4 columns">
                    <div class="row collapse">
                        <label></label>
                        <div class="small-9 columns">
                            <input type="text" placeholder="Email"/>
                        </div>
                        <div class="small-3 columns">
                            <span class="postfix">.com</span>
                        </div>
                    </div>


                </div>

                <div style="margin-top: 20px" class="large-2 columns">
                    <label>
                        <input type="text" placeholder="Phone"/>
                    </label>
                </div>


                <div style="margin-top: 20px" class="large-2 columns">
                    <label>
                        <input class="red button" type="button" style="background-color: red;color: white"
                               value="Contact Me"/>
                    </label>
                </div>
                <div style="margin-top: 25px" class="large-2 columns">
                    <label>
                        <a href="#" style="color: blue;text-decoration-line: underline"><h6
                                style="text-decoration: underline;color: blue;">VIEW PACKAGES</h6></a>
                    </label>
                </div>

            </div>

        </div>


    </div>
    <div class="row" style="height: 20px; width : 100%; background-color: white;margin-top: 30px">
        <p></p>

    </div>
    <div class="row" style="margin-top: 10px">

        <div><h4 align="center" style="color: black">HOW IT WORKS</h4>
            <hr>
        </div>


    </div>


    <ul class="menu">
<li >
    <div style="
    width: 300px;
    border: 25px solid black;
    padding: 20px;
    background-color: black ;margin-right: 10px;margin-bottom: 1px">
        <h2 style="margin-right: 2px;color: white">1</h2>
        <h6 style="margin-right: 2px;color: white">BOOK ORDER</h6>



    </div>
        </li>
        <li>
    <div style="
    width: 300px;

    border: 25px solid black;
    padding: 20px;
    background-color: black;margin-right: 10px;margin-bottom: 1px ">
        <h2 style="margin-right: 2px;color: white">2</h2>
        <h6 style="margin-right: 2px;color: white">CONNECT TO DESINER</h6>


    </div>
        </li>
<li>
    <div style="
    width: 300px;
    border: 25px solid black;
    padding: 20px;
    background-color: black;margin-right: 10px;margin-bottom: 1px ">
            <h2 style="margin-right: 2px;color: white">3</h2>
        <p style="margin-right: 2px;color: white">FURNITURE LAYOUT</p>


    </div>
        </li>
<li>
    <div style="
    width: 300px;
    border: 25px solid black;
    padding: 20px;
    background-color: black ;margin-right: 10px;margin-bottom: 1px">
        <h2 style="margin-right: 2px;color: white">4</h2>
        <p style="margin-right: 2px;color: white">MATEIRALS &COLORS</p>

    </div>
        </li>
<li>
    <div style="
    width: 300px;
    border: 25px solid black;
    padding: 20px;
    background-color: black ;margin-right: 10px;margin-bottom: 1px">
         <h2 style="margin-right: 2px;color: white">5</h2>
        <p style="margin-right: 2px;color: white">3D RENDERS</p>



    </div>
        </li>
<li>
    <div style="
    width: 400px;
    border: 25px solid black;
    padding: 20px;
    background-color: black ;margin-right: 10px;margin-bottom: 1px">
         <h2 style="margin-right: 2px;color: white">6</h2>
        <p style="margin-right: 2px;color: white">PRODUCTION DOCUMENTS</p>


    </div>
        </li>

        </ul>
    <div class="row"><hr></div>
    

</div>


</body>
</html>